.large-image-container {
  position: relative;
  width: 900px;
  height: 900px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: #f8f9fa;
}

.large-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.small-images-container {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  overscroll-behavior: contain;
}

.small-images-container::-webkit-scrollbar {
  display: none;  /* Chrome, Safari, Opera */
}

.small-image {
  width: 100px;
  height: auto;
  margin-right: 10px;
  cursor: pointer;
}

.small-image.active {
  border: 2px solid #007bff;
}

.gallery-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.3);
  border: none;
  border-radius: 0;
  padding: 10px;
  cursor: pointer;
  z-index: 1;
  color: #000;  /* 화살표 색을 검정색으로 변경 */
}

.gallery-arrow-left {
  left: 15px;
}

.gallery-arrow-right {
  right: 15px;
}

/* 포커스 및 클릭 시 화살표 버튼의 스타일 제거 */
.gallery-arrow:focus, .gallery-arrow:active, .gallery-arrow:hover {
  background-color: rgba(255, 255, 255, 0.6) !important;
  outline: none !important;
  box-shadow: none !important;
  color: #000 !important;  /* 화살표 색을 검정색으로 유지 */
}
