/* 화면의 중앙에 배치 */
.fullscreen-center {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.signup-text {
    font-size: 30px;
    font-weight: 700;
    color: #5724BE;
    text-align: center;
    margin-bottom: 20px;
}

/* 중앙 정렬을 위한 폼 컨테이너 스타일 */
.signup-form {
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.signup-form-email,
.signup-form-password {
    border: 0;
    text-align: left;
}

/* FormControl의 테두리를 사각형으로 */
.form-control {
    border-radius: 0;
    border-bottom: 1px solid #5724BE;
    background-color: #FFFBF5;
}

/* 이메일 확인 버튼과 회원가입 버튼 중앙 정렬 */
.email-check-btn,
.signup-btn {
    border: 1px solid #5724BE;
    width: 100%;
    background-color: transparent;
    color: #5724BE;
    outline: none;
    box-shadow: none;
}

.email-check-btn:hover, 
.email-check-btn:focus, 
.email-check-btn:active,
.signup-btn:hover, 
.signup-btn:focus, 
.signup-btn:active {
    background-color: transparent;
    color: #5724BE;
    border-color: #5724BE;
}

/* Alert 스타일 */
.signup-alert {
    color: #5724BE;
    font-weight: bold;
}

/* 전체 폼 텍스트 색상 */
.form-label, .form-text {
    color: #5724BE;
    text-align: left;
}
